.card-body {
    flex: 1 1 auto;
    text-align: center;
    font-weight: 800;
    padding: .5rem;
    font-size: .7rem;
  }
  
  .card {
    margin: .5rem;
    width: 5rem;
    border-radius: 0rem;
    box-shadow: 5px 5px 10px grey;
    /* padding: 1rem; */
    border-radius: 5rem 5rem 1rem 1rem;
  }
  .card img{
    width: 3rem;
    height: 2rem;
    object-fit: cover;
    margin: 1rem auto;
    border-radius: 1rem;
 }
  
  .outer-card {
    display: flex; 
    margin-top: 4rem;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; 
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;  
  }
  