/* Add this CSS to your stylesheet or use inline style */

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cart-table th {
  /* background-color: #f2f2f2; */
  color: var(--bg);
  text-align: center;
}

.cart-table img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 4px;
  display: flex;
margin: auto;
}
.cart-navigation-buttons {
  justify-content: space-between;
  display: flex;
  margin: 2rem 1rem;
  padding-bottom: 2rem;

}
.back-btn {
  background-color: var(--bg);
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-weight: 800;
  color: white;
}
.next-btn {
  background-color: var(--bg);
  color: white;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-weight: 800;
}
