a{
    text-decoration: none !important;
}
.main-content{
  margin-bottom: 4rem;
}
.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
  }
  
  .product-details {
    flex: 1;
    margin-right: 20px;
  }
  
  .add-to-cart {
    flex: 1;
    text-align: center;
  }
  
  .add-to-cart img {
    max-width: 100%;
    height: auto;
  }
  .add-btn{
    border: 1px solid red;
    background: whitesmoke;
    width: fit-content;
    align-items: center;
    margin: auto;
    padding: 0rem 1rem;
    border-radius: .5rem;
   }
   .add-btn button{
    color: red;
    font-size: 1.2rem;
    font-weight: 800;
    }